/.quarto/*
/_site/*
/_book/
**/.jupyter_cache/
.vdoc.jl
/site_libs/*
**/*_files/*
/.quarto/
/.luarc.json
/node_modules
.sverto
# pixi environments
.pixi
*.egg-info
.virtual_documents/*

**/.venv/*

**/.virtual_documents/*

**/*.quarto_ipynb
