[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandoc-fignos = "*"
pandoc-secnos = "*"
pandoc-eqnos = "*"
pandoc-tablenos = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
