/*-- scss:defaults --*/
$font-family-code: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;

.keywords {
  display: none;
}

// Shrink blocks of code
pre.text,
pre.sourceCode,
.cell-output pre {
  font-size: 0.775em !important;
}

@media (max-width: 991.98px) {
  .navbar .quarto-navbar-tools {
    display: none !important;
  }
}

.quarto-title-meta {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      align-items: flex-end;
    }
  }
}

#title-block-header.quarto-title-block .quarto-title-meta-heading {
  text-transform: uppercase;
  margin-top: 1em;
  font-size: 0.8em;
  opacity: 0.8;
  font-weight: 400;
}

.column-margin.column-container :not(.collapse) {
  padding-top: 0em;
}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.cell-output pre {
  white-space: pre-wrap;
  border: 1px solid grey;
  padding: 1em;
}

pre.cell-output {
  white-space: pre-wrap;
  border: 1px solid grey;
  padding: 1em;
}

pre.sourceCode {
  overflow-x: auto !important;
  margin-top: 0.5em;
  padding-top: 0 !important;
}

div.sourceCode {
  margin-top: 0;
}

pre.sourceCode.quarto-appendix-bibtex {
  padding-top: 1em !important;
}

.sourceCode .label[data-language] {
  color: #f5f5f5;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 5px;
  text-transform: lowercase;
}

.sourceCode .label[data-language="python"] {
  background: #3776ab;
}

.sourceCode .label[data-language="rust"] {
  background: #de6c42;
}

.sourceCode .label[data-language="css"] {
  background: #9558b2;
}

.sourceCode .label[data-language="diff"] {
  background: #3863d9;
}

.sourceCode .label[data-language="javascript"] {
  background: #f0db4f;
}

.sourceCode .label[data-language="julia"] {
  background: #f0931d;
}

.sourceCode .label[data-language="c"] {
  background: #5c7a92;
}

.sourceCode .label[data-language="cpp"] {
  background: #659ad3;
}

.sourceCode .label[data-language="nim"] {
  background: #9a66d3;
}

.sourceCode .label[data-language="latex"] {
  background: #6ad7e5;
}

.sourceCode .label[data-language="lua"] {
  background: #8892bf;
}

.sourceCode .label[data-language="vim"] {
  background: #e9573f;
}

.sourceCode .label[data-language="svelte"] {
  background: #f05138;
}

.sourceCode .label[data-language="typescript"] {
  background: #2b7489;
}

.sourceCode .label[data-language="bash"] {
  background: #f18e33;
}

.sourceCode .label[data-language="toml"] {
  background: #9f7e69;
}

.sourceCode .label[data-language="json"] {
  background: #f29920;
}

.sourceCode .label[data-language="yaml"] {
  background: #5c6971;
}

.sourceCode .label[data-language="zsh"] {
  background: #c6794d;
}

.sourceCode .label[data-language="tmux"] {
  background: #1fab89;
}

.sourceCode .label[data-language="emacs"] {
  background: #7f5ab6;
}

.sourceCode .label[data-language="commonlisp"] {
  background: #7f5ab6;
}

.sourceCode .label[data-language="markdown"] {
  background: #5a5a5a;
}
