---
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

{
  SITE.showBackButton && (
    <LinkButton
      id="back-button"
      href="/blog/"
      aria-label="Back to blog"
      class:list={[
        "focus-outline shrink-0 text-foreground/90 hover:text-foreground/70",
        className,
      ]}
    >
      <Icon
        name="tabler:chevron-left"
        class="inline-block size-6 rtl:rotate-180"
      />
      <span class="sr-only">Back to blog</span>
    </LinkButton>
  )
}
