---
import type { MarkdownLayoutProps } from "astro";
import { Icon } from "astro-icon/components";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import LinkButton from "@/components/LinkButton.astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title}`}>
  <Header />
  <main id="main-content" class="app-layout pt-8">
    <section id="about" class="app-prose mb-28 max-w-app prose-img:border-0">
      <div class="flex items-center gap-2 sm:relative sm:block">
        <LinkButton
          href="/"
          aria-label="Back to home"
          class="focus-outline shrink-0 text-foreground/90 hover:text-foreground/70 sm:absolute sm:top-1/2 sm:left-0 sm:-translate-y-1/2 sm:-translate-x-[calc(100%+0.5rem)]"
        >
          <Icon name="tabler:chevron-left" class="inline-block size-6 rtl:rotate-180" />
          <span class="sr-only">Back to home</span>
        </LinkButton>
        <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      </div>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
